<!-- Atalhos aprendidos -->
   <!-- 1- ( ! + Enter - Escreve a estrutura de html basica e completa) -->
   <!-- Ctrl+shift + p  : commando : >shortcuts -->

 <!-- Extencoes Aprendidas vsCode -->
   <!-- 1 - launchbase - Serve Para melhorar identações e visual do codigo -->
   <!-- 2 - Live Server 5.6.1 - serve para atualizar Browser(Pag) Autom. ao salvar code -->

   <!DOCTYPE html>
 <html lang="en"> <!--lang é um atributo  -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    <title>Proffy | Sua Plataforma de estudos online</title>

    <!-- inlcuindo um icone na pangina -->
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">

   <link rel="stylesheet" href="/styles/main.css">
   <link rel="stylesheet" href="/styles/partials/header.css">
   <link rel="stylesheet" href="/styles/partials/forms.css">
   <link rel="stylesheet" href="/styles/partials/page-study.css">
  
   <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
     <!-- dica para ajustar fonte com mais detalhes espacamento  trecho:@400;600;700&amp; -->
   <!-- <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet"> -->


</head>
<body id="page-study">

   <div id="container">

        <!-- header - Cabecalho pagina -->
        <header class="page-header">
           <div class="top-bar-container">
              <a href="/">
              <img src="/images/icons/back.svg" alt="Voltar">
              </a>
               <img src="/images/logo.svg" alt="Proffy">
            </div>
                  
            <div class="header-content">
               <strong> Esses são os proffys disponíveis</strong><!--  /*strong- fonte negrito*/ -->
               <form id="search-teachers">
                  <div class="select-block"> <!--  caixa de seleção-->
                      <label for="subject">Matéria</label>
                      <select name="subject" id="subject"> <!--Add  opções de seleção-->
                          <option value="" disabled="" hidden="">Selecione uma opção</option>
                       
                          {% for subject in subjects %}
                                                          <!--[selected]- se {{filtes.subject}} for o mesmo que o value=loop.index [0,1,2 etc] selecionado - Add Selected-->
                            <option value="{{loop.index}}" {{"selected" if filters.subject == loop.index }}> <!--{{loop.index}} objeto-nunjeckts- loop[0] possição 1,2,3-->
                                {{subject}} <!--{{subject}} coleção de nomes argumentos de seleção = materiais  add in server.js-->
                            </option> 
                                
                            {% endfor %}

                      </select>
                  </div>
                  <div class="select-block">
                     <label for="weekday">Dia da semana</label>
                     <select name="weekday" id="weekday">
                         <option value="" disabled="" hidden="">Selecione uma opção</option>

                         {% for weekday in weekdays %}
                            <option value="{{loop.index0}}" {{"selected" if filters.weekday == loop.index0 }}>  <!--{{loop.index0}} objeto-nunjeckts- loop[0] possição conte apartir[0]-->
                            {{weekday}} 
                            </option> 
                         {% endfor %}
                       
                     </select>
                 </div>

                 <div class="input-block">
                   <label for="time">Hora</label>
                   <input name="time" id="time" type="time" value="{{filters.time}}">
                   <!-- <input name="time" id="time" type="number" min="0" max="24"> //type="Number" campo é  tipo numerico -->
                 </div>
                   <button type="submit">Filtrar</button>

               </form>
            </div>


        </header>

        <!-- Main - conteudo principal da pagina -->  
        <main>            
           <!-- <h1>{{proffys}}</h1> --> <!--//{{proffys}} chave de objeto render [nunjucks] in server.js -->
           <!---- <h1>{{alex.name}}</h1> -->  <!--//{{alex.nome}} alex(chave).nome (agrumento) de objeto render [nunjucks] in server.js -->
           {% if proffys == "" %}
              <p class="no-results">Nenhum professor encontrado com a sua pesquisa.</p>
           {% else %}   

           <!-- monto estrutura de repetição para redenrização [nunjucks] de forma dinamica para chave  {{proffs}} -->
           {%for proffy in proffys %}  <!-- para cada (um proffy) em (todos proffys) faça -->
        
         <!-- article - conteudo de repetição na pagina-->  
            <article class="teacher-item">
               <header>
                   <img 
                    src="{{proffy.avatar}}" 
                    alt="{{proffy.name}}">   
                   <div>
                       <strong>{{proffy.name}}</strong>
                        <span>{{proffy.subject}}</span>
                   </div>
               </header>
           
               <p>{{proffy.bio}}</p>
           
               <footer>
                   <p>Preço/hora<strong>R$ {{proffy.cost}}</strong>
                   </p>
                        <!-- <button type="button">
                            <img src="/images/icons/whatsapp.svg" alt="Whatsapp">Entrar em contato
                        </button> -->
                        <a href="https://api.whatsapp.com/send?l=pt_br&phone=55{{proffy.whatsapp}}&text=Tenho interesse na sua aula de {{proffy.subject}} {{proffy.name}}" class="button" target="_blank">

                            <img src="/images/icons/whatsapp.svg" alt="whatsapp">Entrar em contato
                        </a>
               </footer>
           </article>
           {%endfor%}
         {% endif %}    
        </main>
     
   </div>


</body>
</html>
